<html lang="en">
<%- include("./partials/title")%>
<body>
    <div id="login" class="container">
        <form>
            <div class="form-group">
              <label for="password">Admin Password:</label>
              <input type="password" class="form-control" id="password" placeholder="">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div id="main" class="container-fluid">
        <div id="status" class="container" ><h2 class="p-3 mb-2 bg-secondary-light text-dark font-italic"></h2></div>
        <div id="players" class="row" style="padding-bottom:5vh">
        </div>
        <div>
             <button id="startgame" type="submit" class="btn btn-primary btn-lg btn-block">Start Game</button>
        </div>
        <div>
             <button id="endgame" type="submit" class="btn btn-primary btn-lg btn-block">End Game</button>
        </div>
    </div>   
    <%- include("./partials/background")%>
</body>

<%- include("./partials/scripts")%>
<script src="/public/js/mind.admin.js" type="text/javascript"></script>
</html>