<html lang="en">
<%- include("./partials/title")%>
<body>
    <div id="main" class="container-fluid">
        <div id = "newuser" class="container">
            <form>
                <div class="form-group">
                  <label for="user">Choose a game nick:</label>
                  <label id="message" class="error"></label>
                  <input type="text" class="form-control" id="user" placeholder="User Name">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div id = "waiting">
            <h2>
            Waiting for admin to start the game...
            </h2>
        </div>
        <div id = "game">
            <div id="moves" style="padding-bottom:10vh" class="row">
                <div class="" style="text-align: center"><h2>Pile</h2></div>
                <div class="moves"></div>
            </div>
            <div id="hand" class="container">
                <div style="text-align: center "><h2>Hand</h2></div>
                <div id="cards" class="row"></div>
                <div class="vertical-center">
                    <button id="playcard" type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
            <div id="gameend"></div>
        </div>
    </div>   
    <%- include("./partials/background")%>
</body>

<%- include("./partials/scripts")%>
<script src="/js/mind.js" type="text/javascript"></script>
</html>